<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ .Title }}</title>

		<!-- css -->
		<link rel="stylesheet" href="/assets/main.css" />

		<!-- javascript -->
		<script type="text/javascript" src="/assets/bundle.js" defer></script>
	</head>
	<body class="bg-gray-800 relative overflow-x-hidden">
		{{- partial "header.html" . -}}
		<div class="page-gutter">
			<h1 class="sm:text-5xl text-white font-bold text-4xl text-left mt-8">
				Competitive Programming
			</h1>
			<div class="w-full flex mt-8 flex-wrap">
				{{ partial "competitive-programming/topic-filters" .}}
			</div>
			<div class="grid grid-cols-1 gap-4 mt-12 mb-8">
				<!-- Competitive Programming Questions -->
				{{ partial "competitive-programming/list-items.html" . }}
			</div>
		</div>
	</body>
</html>
