<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ .Title }}</title>

		<!-- css -->
		<link rel="stylesheet" href="/assets/main.css" />

		<!-- javascript -->
		<script type="text/javascript" src="/assets/bundle.js" defer></script>
	</head>
	<body class="bg-gray-800">
		{{- partial "header.html" . -}}
		<div class="page-gutter">
			<h1 class="sm:text-5xl text-white font-bold text-4xl text-left mt-8">
				{{.Title}}
			</h1>
			<div
				class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-8 mt-8 mb-8"
			>
				<!-- Blog Posts -->
				{{ range .Pages.ByDate.Reverse }}
				<a href="{{.Permalink}}">
					<div class="p-4 rounded-lg flex items-center justify-center flex-col">
						<img
							id="{{.Params.CoverImageId}}"
							src="/blog/images/_default/cover.png"
							class="rounded-lg w-full aspect-square animate-pulse"
						/>
						<div class="mt-4 text-3xl text-white font-semibold w-full">
							{{.Title}}
						</div>
					</div>
				</a>
				<!-- Load Cover Image -->
				{{ partial "image-loader" (dict "id" .Params.CoverImageId "src"
				.Params.CoverImage) }} {{ end }}
			</div>
		</div>
	</body>
</html>
