<!DOCTYPE html>
<html>
	{{- partial "head.html" . -}}
	<body class="bg-gray-800">
		<div
			id="intro-loader"
			class="h-screen w-screen flex flex-col items-center justify-center"
		>
			{{ partial "logo-animated" . }}
		</div>
		<div id="main-content">
			{{- partial "header.html" . -}}
			<div id="content">{{- block "main" . }}{{- end }}</div>
			{{- partial "footer.html" . -}}
		</div>
		<div
			class="mobile-navigation top-0 left-full w-screen h-screen absolute z-10 bg-zinc-900"
		></div>
	</body>
</html>
