<!-- This example requires Tailwind CSS v2.0+ -->
<nav class="bg-gray-800">
	<div class="mx-auto px-2 sm:px-6 lg:px-8">
		<div class="relative flex items-center h-16 justify-between">
			<a
				class="text-red-400 slide-down-animation"
				style="--animation-delay: 0s"
				href="./"
				>ryanForte.tech</a
			>
			<div class="flex space-x-4">
				<!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
				<a
					href="#"
					class="text-white hover:text-red-400 px-3 py-2 text-sm font-medium slide-down-animation"
					style="--animation-delay: 0.2s"
					aria-current="page"
					>Home</a
				>
				<a
					id="blog-header-link"
					href="#"
					class="text-gray-300 hover:text-red-400 px-3 py-2 text-sm font-medium slide-down-animation"
					style="--animation-delay: 0.4s"
					>Blog</a
				>
			</div>
		</div>
	</div>
</nav>
