<!-- This example requires Tailwind CSS v2.0+ -->
<nav class="bg-gray-800">
	<div class="mx-auto px-2 sm:px-6 lg:px-8">
		<div class="relative flex items-center h-20 justify-between">
			<a
				id="header-logo"
				class="w-11 slide-down-animation"
				style="animation-delay: 0s"
				href="/"
				>{{ partial "logo" . }}</a
			>
			<div class="flex space-x-4">
				<a
					id="nav-bar__home-link"
					href="/"
					class="text-gray-300 hover:text-red-400 px-3 py-2 text-sm font-medium slide-down-animation"
					style="animation-delay: 0.2s"
					>Home</a
				>
				<a
					id="nav-bar__blog-link"
					href="/blog"
					class="text-gray-300 hover:text-red-400 px-3 py-2 text-sm font-medium slide-down-animation"
					style="animation-delay: 0.4s"
					>Blog</a
				>
			</div>
		</div>
	</div>
</nav>
