<script defer>
	;(() => {
		const image = document.getElementById('{{.Scratch.Get "loaderImageId"}}')
		const downloadingImage = new Image()
		downloadingImage.onload = el => {
			const src = el?.composedPath()?.[0]?.src
			if (src) {
				image.src = src
			}
			image.classList.remove('animate-pulse')
		}

		downloadingImage.onerror = () => {
			image.src = '/blog/images/_default/image-load-error.gif'
			image.classList.remove('animate-pulse')
		}

		downloadingImage.src = '{{.Scratch.Get "loaderImageSrc"}}'
	})()
</script>
