{{ define "main" }}
<div
	class="h-[calc(100vh-4rem)] max-w-3xl mx-auto px-2 sm:px-6 lg:px-8 flex flex-col justify-center"
>
	<div>
		<span class="text-red-400">Hi, my name is</span>
		<h1 class="text-3xl text-white font-bold text-7xl text-left mt-2">
			Ryan Forte.
		</h1>
		<h1 class="text-4xl text-slate-300 font-bold mt-2">
			I'm a fullstack Developer.
		</h1>
		<span class="block text-slate-400 font-thin text-sm mt-2 w-80">
			This is just going to be some random text about me. Not a whole lot but
			all it does is pretty much does is make me sound really cool
		</span>
	</div>
	<!-- <p class="bg-sky-600 text-slate-100">
		The thisSiteIsNew uses a theme called thisThemeIsNew
	</p> -->
</div>

{{ end }}
