{{ define "main" }}
<div class="h-[calc(100vh-80px)] page-gutter flex flex-col justify-center">
	<div>
		<span
			class="text-red-400 sm:text-md slide-up-animation"
			style="animation-delay: 1.2s"
			>Hi, my name is</span
		>
		<h1
			class="sm:text-ninety text-white font-bold text-7xl text-left mt-4 slide-up-animation"
			style="animation-delay: 1.4s"
		>
			Ryan Forte.
		</h1>
		<h2
			class="sm:text-6xl text-3xl text-slate-300 font-bold mt-4 slide-up-animation"
			style="animation-delay: 1.6s"
		>
			Software Developer
		</h2>
		<span
			class="block text-slate-400 font-light sm:text-md mt-4 sm:pb-16 sm:w-7/12 slide-up-animation"
			style="animation-delay: 1.8s"
		>
			Michael Jordan once said "Get the fundamentals down and the level of everything you do will rise".
			As Software Engineers like professional athletes I believe in order to be truly great at something we must master our fundamentals.
			In programming this means having a firm grasp of the fundamental concepts of the underlying systems we are working on top of.
			As a backend engineer this relates to the programming language we are using, the networks that manage the transfer of data between our services, right down to the OS we use and the hardware we run our code on.
			There will always be new abstractions and fancy new frameworks but this key fundamental knowledge is something we will always refer back to in our day-to-day work as Software Engineers especially if we aim to solve more complex problems and do technically innovative work.
			<br>
			My source of inspiration for how I approach software comes from
			<a class="text-red-400 font-light" href="https://jvns.ca/about/"
				>Julia Evans</a
			> and
			<a class="text-red-400 font-light" href="https://en.wikipedia.org/wiki/Michael_Jordan"
			>Michael Jordan</a
			>
		</span>
	</div>
</div>

{{ end }}
