{{ define "main" }}
<div
	class="h-[calc(100vh-80px)] max-w-5xl mx-auto px-2 sm:px-6 lg:px-8 flex flex-col justify-center"
>
	<div>
		<span
			class="text-red-400 sm:text-md slide-up-animation"
			style="animation-delay: 1s"
			>Hi, my name is</span
		>
		<h1
			class="sm:text-ninety text-white font-bold text-7xl text-left mt-4 slide-up-animation"
			style="animation-delay: 1.2s"
		>
			Ryan Forte.
		</h1>
		<h2
			class="sm:text-6xl text-3xl text-slate-300 font-bold mt-4 slide-up-animation"
			style="animation-delay: 1.4s"
		>
			I'm a fullstack developer.
		</h2>
		<span
			class="block text-slate-400 font-light sm:text-md mt-4 sm:pb-16 sm:w-7/12 slide-up-animation"
			style="animation-delay: 1.6s"
		>
			I'm a self-taught software engineer specialising in system architecture
			and the development of distributed systems. From working in small startups
			to large enterprise organisations I have a range of experience across both
			the Frontend and Backend. I currently live in Sydney Australia where I
			work for
			<a class="text-red-400 font-light" href="https://www.lexicon.com.au"
				>Lexicon.</a
			>
		</span>
	</div>
</div>

{{ end }}
